<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Data_Update_MSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:38894/Data_Update_M.asmx"
                binding="basicHttpBinding" bindingConfiguration="Data_Update_MSoap"
                contract="ServiceReference1.Data_Update_MSoap" name="Data_Update_MSoap" />
        </client>
    </system.serviceModel>
</configuration>